<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Allen Ben Philipose</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-​equiv="ScreenOrientation" content="autoRotate:disabled">
  <meta https-​equiv="ScreenOrientation" content="autoRotate:disabled">

  <!-- Favicons -->
  <link href="img/favicon.webp" rel="icon">
  <link href="img/favicon.webp" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/aos/aos.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/icofont/icofont.min.css" rel="stylesheet">
  <link href="lib/remixicon/remixicon.css" rel="stylesheet">
  <link href="lib/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="css/style-Allen.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
    
<body id="page-top">
  <!--/ Nav Start /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" class="colours" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Allen</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Experience</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Start /-->
  <div class="intro route bg-image" style="background-image: url(img/intro-bg.webp)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4" style="color:#ededed">Hi, I'm Allen !</h1>
          <p class="intro-subtitle" style="color:#ededed"><span class="text-slider-items" style="color:#ededed">
            Cloud Architect,UI Developer,Graphic Designer
          </span><strong class="text-slider" style="color:#ededed"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro End /-->
    
  <!--/ About me Start /-->  
  <section id="home" class="section-counter paralax-mf bg-image" style="background-image: url(img/intro-bg.webp)">
    <div class="overlay-mf"></div>
    <div class="container" data-aos="fade-up" data-aos-delay="20">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row a111">
              <div class="col-md-6 a111">
                <div class="row a111">
                  <div class="col-sm-6 col-md-4 a111">
                    <div class="about-img" style="padding-bottom:5%">
                      <img src="img/DP.webp" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-md-6 a111">
                    <div class="more-info a111">
                      <ul class="list-ico aede" style="padding-top: 4%">
                        <li><span class="ion-ios-location"></span>#B2, BSNL QTRS, 80 feet road, Indiranagar, Bangalore, Karnataka</li>
                        <li><span class="ion-ios-telephone"></span>+91 9449277201</li>
                        <li><span class="ion-email"></span>allenalvin333@gmail.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
                  <p class="lead" align="justify" style="padding-top:4%">
                      Hello, I'm Allen, passionate about learning and implementing what I have learnt. I’m proactive, productive, persistent and more importantly, a perfectionist. Currently a third year Electronics student acquiring skills in cloud architecture and data science.
                  </p>
                  <div class="socials">
                    <ul style="display: flex;">
                        <li data-aos="fade-in" data-aos-delay="20">
                          <a href="https://www.instagram.com/allen._.philip/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="20">
                          <a href="https://www.linkedin.com/in/abphilip3/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="20">
                          <a href="https://github.com/allenalvin333">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-github" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="20">
                          <a href="https://www.facebook.com/allen.philipose/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 a111">
                <div class="about-me pt-4 pt-md-0 a111">
                <div class="title-box-2 a111">
                  <h5 class="title-left a111">
                    About Me
                  </h5>
                </div>
                  <p class="lead a111">
                    <strong>Vellore Institute of Technology</strong>
                      <br/>
                      Bachelor of Technology - Electronics and Communication
                      with specialization in IoT and Sensors
                      <br/>
                      <strong>2018 - present</strong>
                  </p>
                  <p class="lead">
                    <strong>Delhi Public School, Bangalore East</strong>
                      <br/>
                      12th Grade (CBSE) - PCMC  
                      <br/>
                      <strong>2016 - 2018</strong>
                  </p>
                  <p class="lead">
                    <strong>Baldwin Boys' High School </strong>
                      <br/>
                      10th Grade (ICSE) - Science  
                      <br/>
                      <strong>2012 - 2016</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About me End /-->  

  <!--/ Skills Start /-->
  <section id="service" class="services-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center" data-aos="fade-in" data-aos-delay="25">
            <h3 class="title-a">
              Skills
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="60">
          <div class="service-box">
            <div class="tofade">
              <div class="row">
                <div class="col-sm-auto"></div>
                <div class="col-lg d-flex justify-content-center">
                  <div class="card-body2">
                    #30DaysOfGCP offered by Qwiklabs was the reason for my first visit to cloud platform environments. I loved it enough 
                    to complete 26 quests in 30 days and have been addicted ever since to learn more. Planning to pursue cloud-related 
                    courses in my 6th semester.
                  </div>
                  <div class="service-ico">
                    <i class="ion-cloud thatone"></i>
                    <div class="progress-theme-blue" data-percent="90">
                      <svg id="animated" class="round-progress" viewbox="-10 -10 220 220">
                        <g fill="none" stroke-width="7" transform="translate(100,100)">
                          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                        </g>
                      </svg>
                      <svg viewBox="-10 -10 220 220">
                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="567"></path>
                      </svg> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category" style="padding-top:6px">Cloud Arch</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="60">
          <div class="service-box">
            <div class="tofade">
              <div class="row">
                <div class="col-sm-auto"></div>
                <div class="col-lg d-flex justify-content-center">
                  <div class="card-body2">
                    Being the Tech Lead (UI/UX) of Skillship gave me a broader aspect of applied designing and
                    its demand in the industry. Familiarity with Figma and XD greatly boosted my confidence
                    in this field.
                  </div>
                  <div class="service-ico">
                    <i class="ion-monitor thatone"></i>
                    <div class="progress-theme-blue"  data-percent="85">
                      <svg id="animated" class="round-progress" viewbox="-10 -10 220 220">
                        <g fill="none" stroke-width="7" transform="translate(100,100)">
                          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                        </g>
                      </svg>
                      <svg viewBox="-10 -10 220 220">
                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="535.5"></path>
                      </svg> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">UI/UX</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="60">
          <div class="service-box">
            <div class="tofade">
              <div class="row">
                <div class="col-sm-auto"></div>
                <div class="col-lg d-flex justify-content-center">
                  <div class="card-body2">
                    During my 4th semester, I started learning web dev basics via coursera courses. Within few months, I've finished 3-4 
                    specializations and became fairly proficient in basics of HTML/CSS, and my design background 
                    greatly complimented this.
                  </div>
                  <div class="service-ico">
                    <i class="ion-code-working thatone"></i>
                    <div class="progress-theme-blue" data-percent="75">
                      <svg id="animated" class="round-progress" viewbox="-10 -10 220 220">
                        <g fill="none" stroke-width="7" transform="translate(100,100)">
                          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                        </g>
                      </svg>
                      <svg viewBox="-10 -10 220 220">
                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="472.5"></path>
                      </svg> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category" style="padding-top:6px">Frontend Dev</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="60">
          <div class="service-box">
            <div class="tofade">
              <div class="row">
                <div class="col-sm-auto"></div>
                <div class="col-lg d-flex justify-content-center">
                  <div class="card-body2">
                    I shifted my focus to Machine learning at the beginning of 5th semester by taking ML-related courses in campus
                    and got deeply involved with them. After the semeseter ended, I proceeded to complete 2 Professional certificates
                    by Coursera.
                  </div>
                  <div class="service-ico">
                    <i class="ion-ios-gear thatone"></i>
                    <div class="progress-theme-blue" data-percent="70">
                      <svg id="animated" class="round-progress" viewbox="-10 -10 220 220">
                        <g fill="none" stroke-width="7" transform="translate(100,100)">
                          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                        </g>
                      </svg>
                      <svg viewBox="-10 -10 220 220">
                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441"></path>
                      </svg> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category" style="padding-top:6px">Machine Learning</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="60">
          <div class="service-box">
            <div class="tofade">
              <div class="row">
                <div class="col-sm-auto"></div>
                <div class="col-lg d-flex justify-content-center">
                  <div class="card-body2">
                    Editing images and mixing audios were skills that I acquired back in 3rd semester for join clubs.
                    Now, being a lead designer in 3 chapters and the head of design domain in a club, has helped me 
                    acquire a lot of extra-curricular exposure. 
                  </div>
                  <div class="service-ico">
                    <i class="ion-paintbrush thatone"></i>
                    <div class="progress-theme-blue" data-percent="90">
                      <svg id="animated" class="round-progress" viewbox="-10 -10 220 220">
                        <g fill="none" stroke-width="7" transform="translate(100,100)">
                          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                        </g>
                      </svg>
                      <svg viewBox="-10 -10 220 220">
                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="567"></path>
                      </svg> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category" style="padding-top:6px">Graphic Designing</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="60">
          <div class="service-box">
            <div class="tofade">
              <div class="row">
                <div class="col-sm-auto"></div>
                <div class="col-lg d-flex justify-content-center">
                  <div class="card-body2">
                    Music was always an essential part of my life. I started playing piano when I was 4, was introduced to
                    brass instruments when I was 13, and moved to strings when I was 16. My 3 faces - Competitions, Choir, Rock Band.
                  </div>
                  <div class="service-ico">
                    <i class="ion-ios-musical-notes thatone"></i>
                    <div class="progress-theme-blue" data-percent="80">
                      <svg id="animated" class="round-progress" viewbox="-10 -10 220 220">
                        <g fill="none" stroke-width="7" transform="translate(100,100)">
                          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                        </g>
                      </svg>
                      <svg viewBox="-10 -10 220 220">
                        <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="504"></path>
                      </svg> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category" style="padding-top:6px">Music Production</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <svg width="0" height="0">
          <defs>
              <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
              <stop class="a1"/>
              <stop class="a2"/>
              </linearGradient>
              <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
              <stop class="a1"/>
              <stop class="a2"/>
              </linearGradient>
              <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
              <stop class="a1"/>
              <stop class="a2"/>
              </linearGradient>
              <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
              <stop class="a1"/>
              <stop class="a2"/>
              </linearGradient>
              <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
              <stop class="a1"/>
              <stop class="a2"/>
              </linearGradient>
              <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
              <stop class="a1"/>
              <stop class="a2"/>
              </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </section>
  <!--/ Skills End /-->
    
  <!--/ Badges Start /-->
    <section id="clients" class="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-1.webp" class="img-fluid" style="height:62px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-2.webp" class="img-fluid" style="height:61px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-3.webp" class="img-fluid" style="height:62px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-4.webp" class="img-fluid" style="height:62px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-5.webp" class="img-fluid" style="height:68px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-6.webp" class="img-fluid" style="height:68px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-7.webp" class="img-fluid" style="height:67px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-8.webp" class="img-fluid" style="height:65px; width:auto" alt="">
          </div>     
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-9.webp" class="img-fluid" style="height:70px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-10.webp" class="img-fluid" style="height:65px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-11.webp" class="img-fluid" style="height:65px; width:auto" alt="">
          </div>
          <div class="col-lg-1 col-md-4 col-3" data-aos="zoom-in" data-aos-delay="25">
            <img src="lib/badges/client-12.webp" class="img-fluid" style="height:65px; width:auto" alt="">
          </div>       
        </div>
      </div>
    </section>
  <!--/ Badges Start /-->

  <!--/ Certifications Start /-->
  <section class="section-counter paralax-mf bg-image" style="background-image: url(img/overlay-bg-0.webp);">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3" data-aos="zoom-in" data-aos-delay="5" style="padding-top:15px; padding-bottom:15px;">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round afff"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter" style="color:#ededed">26</p>
              <span class="counter-text" style="color:#ededed">GCP QUESTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3" data-aos="zoom-in" data-aos-delay="5" style="padding-top:15px; padding-bottom:15px;">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline afff"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter" style="color:#ededed">16</p>
              <span class="counter-text" style="color:#ededed">FUTURESKILLS BADGES</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3" data-aos="zoom-in" data-aos-delay="5" style="padding-top:15px; padding-bottom:15px;">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people afff"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter" style="color:#ededed">6</p>
              <span class="counter-text" style="color:#ededed">LINKEDIN BADGES</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3" data-aos="zoom-in" data-aos-delay="5" style="padding-top:15px; padding-bottom:15px;">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a afff"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter" style="color:#ededed">31</p>
              <span class="counter-text" style="color:#ededed">COURSERA CERTIFICATES</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Certifications End /-->

  <!--/ Projects Start /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center" data-aos="fade-in" data-aos-delay="25">
            <h3 class="title-a">
              Projects
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="20">
          <div class="work-box">
            <a href="img/project-1.webp" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="img/project-1.webp" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-9">
                    <h2 class="w-title">Emergency Vehicle <br/>Detection & <br/>Tracking</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Tensorflow</span> / <span class="w-date aede">2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="20">
          <div class="work-box">
            <a href="https://1drv.ms/b/s!AmFpGYh4X8E8hKFvZPFsz4y3YLpk2w">
              <div class="work-img">
                <img src="img/project-2.webp" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-9">
                    <h2 class="w-title">Surveillance <br/>Camera system <br/>with Person ReID</h2>
                    <div class="w-more">
                      <span class="w-ctegory">PyTorch</span> / <span class="w-date aede">2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="20">
          <div class="work-box">
            <a href="https://1drv.ms/b/s!AmFpGYh4X8E8hKIwzytHTZjJUanyjg">
              <div class="work-img">
                <img src="img/project-3.webp" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-9">
                    <h2 class="w-title">Twitter Sentiment <br/>Analysis on <br/>Racism</h2>
                    <div class="w-more">
                      <span class="w-ctegory">NLTK</span> / <span class="w-date aede">2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Projects End /-->

  <!--/ Other Projects Start /-->
  <div class="testimonials paralax-mf bg-image" style="background-image: url(img/overlay-bg-2.webp)">
    <div class="overlay-mf"></div>
    <div class="container" style="padding:20px;">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box" data-aos="zoom-in" data-aos-delay="15">
              <div class="author-test">
                <a href="https://1drv.ms/b/s!AmFpGYh4X8E8hKFuW8lPKU2c4cMK6w">
                    <span class="author">Gesture Based Doorbell System<br/><strong class="a000">2020</strong></span>
                </a>
              </div>
              <div class="content-test">
                <p class="description lead a000">
                  Arduino based project developed as an initiative to reduce the usage of touch surfaces amid COVID scare. The project relies on object proximity detection using HC05 ultrasonic sensor, the output of which, the system uses to control the door movements and alert system. The data received is stored on a cloud server via ESP8266
                </p>
              </div>
            </div>
            <div class="testimonial-box" data-aos="zoom-in" data-aos-delay="15">
              <div class="author-test">
                <a href="https://github.com/allenalvin333/College_Mini/tree/master/4.%20CSE4019%20-%20DIP">
                    <span class="author">Canny Edge Detection<br/><strong class="a000">2020</strong></span>
                </a>
              </div>
              <div class="content-test">
                <p class="description lead a000">
                  A detailed elaboration of how Canny Edge Detection of openCV library works. The project contains four sections - basic image processing operations applied on a sample image, the inner workings of canny edge detection, openCV function on live camera feed and its application on a video with tweaker parameters
                </p>
              </div>
            </div>
            <div class="testimonial-box" data-aos="zoom-in" data-aos-delay="15">
              <div class="author-test">
                <a href="https://1drv.ms/b/s!AmFpGYh4X8E8hKI40zIpcptCACYSxQ">
                    <span class="author">Travel Log comparison<br/><strong class="a000">2020</strong></span>
                </a>
              </div>
              <div class="content-test">
                <p class="description lead a000">
                  The project relies on the usage of NLTK for the analysis of articles based on a set of pre-determined parameters for checking the quality of the piece. URL links of the articles are given as input to the program which will then scrape, tokenize and pass through all conditions to evaluate and rank the different writers
                </p>
              </div>
            </div>
            <div class="testimonial-box" data-aos="zoom-in" data-aos-delay="15">
              <div class="author-test">
                <a href="https://github.com/allenalvin333/College_Mini/tree/master/2.%20CSE3013%20-%20AI">
                    <span class="author">Trading Chatbot<br/><strong class="a000">2020</strong></span>
                </a>
              </div>
              <div class="content-test">
                <p class="description lead a000">
                  Making use of chatterbot library by python to make a chatbot which will not only interact naturally with the user, but also helps to trade stocks via yahoo finance. The chatbot receives the data through web scraping, historical data through a cloud data server and can execute the functions according to the input the user gives
                </p>
              </div>
            </div>
            <div class="testimonial-box" data-aos="zoom-in" data-aos-delay="15">
              <div class="author-test">
                <a href="https://1drv.ms/b/s!AmFpGYh4X8E8guVrYqcFnXZuCV4PHg">
                  <span class="author">Digital Lock<br/><strong class="a000">2019</strong></span>
                </a>
              </div>
              <div class="content-test">
                <p class="description lead a000">
                  Verilog HDL can be explained as a low level programming language used for hardware-software integrations. Here in this project, we take an altera DE-115 and program it to simulate a digital lock. The software is developed purely using codes of logical and bitwise operations with a manual clock frequency
                </p>
              </div>
            </div>
            <div class="testimonial-box" data-aos="zoom-in" data-aos-delay="15">
              <div class="author-test">
                <a href="https://1drv.ms/b/s!AmFpGYh4X8E8guVso4kCAS0gvJAKeg">
                    <span class="author">Autocorrect and Dictionaries<br/><strong class="a000">2019</strong></span>
                </a>
              </div>
              <div class="content-test">
                <p class="description lead a000">
                  Tries, also called as a digital tree or a prefix tree, is a data structure, used here for prediction of words while typing a sentence. This project takes it an extra step ahead by allocating a spot for it's own dictionary and autocorrecting the input words according to its contents which ensures higher accuracy and flexibility
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Other Projects End /-->

  <!--/ Experience Start /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center" data-aos="fade-in" data-aos-delay="25">
            <h3 class="title-a">
              Experience
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="50">
          <div class="card-blog">
            <div class="card-img">
              <img src="img/post-1.webp" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">IoThinc - Head of Design</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
          <div class="card-blog">
            <div class="card-img">
              <img src="img/post-2.webp" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">IEEE ComSoc - Core Member</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="250">
          <div class="card-blog">
            <div class="card-img">
              <img src="img/post-3.webp" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">IEEE RAS - Core Member</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="50">
          <div class="card-blog">
            <div class="card-img">
              <img src="img/post-4.webp" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Skillship Vellore - Tech Lead UI/UX</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Experience End /-->

  <!--/ Footer Start /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg-1.webp)">
    <div class="overlay-mf"></div>
    <footer>
      <div class="container">
        <div class="col-sm-12">
          <div class="white">
              Developed by <strong>Allen</strong>
          </div>
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox"/>
              <div class="slider round"></div>
          </label>
        </div>      
      </div>
    </footer>
  </section>
  <!--/ Footer End /-->

  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/typed/typed.min.js"></script>
  <script src="lib/aos/aos.js"></script>
  <script src="lib/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>

  <!-- Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>